div.heading
  h1 Julius Polar
div.nav.row.justify-content-between
  span: a.nav-link(href="index.html") / Home
  span: a.nav-link(href="work.html")  / Works
  span: a.nav-link(href="book.html")  / Reading