h1(class="my-4 text-2xl") Julius Polar

div(class="md:h-8 my-4 grid grid-cols-1 md:grid-cols-3")
  a(class="text-lg underline decoration-dotted hover:decoration-solid font-bold cursor-pointer" href="index.html") / Home
  a(class="text-lg underline decoration-dotted hover:decoration-solid font-bold cursor-pointer" href="work.html")  / Works
  a(class="text-lg underline decoration-dotted hover:decoration-solid font-bold cursor-pointer" href="book.html")  / Reading