h1(class="my-8 text-2xl") Julius Polar

div(class="flex justify-between relative top-1 h-8")
  a(class="text-lg underline decoration-dotted font-bold cursor-pointer" href="index.html") / Home
  a(class="text-lg underline decoration-dotted font-bold cursor-pointer" href="work.html")  / Works
  a(class="text-lg underline decoration-dotted font-bold cursor-pointer" href="book.html")  / Reading