h2(class="my-2 text-xl") # About me

p
  span Web developer.
  span: a(href="/book.html"
    class="mx-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") Avid reader.
  span: a(href="https://www.fflogs.com/character/eu/odin/elenor%20duskwing"
    class="mx-0.5 underline decoration-dotted hover:decoration-solid cursor-pointer") Casual gamer.

p Check out
  a(href="/work.html" class="mx-1 underline decoration-dotted hover:decoration-solid cursor-pointer") the stuff I made.