doctype html
html(lang="en" class="bg-slate-50 font-serif text-neutral-900 text-2xl leading-10")
  include templates/head.pug
  body(class="grid max-w-xl mx-4 lg:mx-auto")
    include templates/page-heading.pug
    include contents/book.html