doctype html
html(lang="en")
  include templates/head.pug
  body.container
    div.row.justify-content-center
      div.col-sm-12.col-md-10.col-lg-8
        include templates/page-heading.pug
        
        include contents/book.html