doctype html
html(lang="en" class="bg-slate-50 font-serif text-neutral-900 text-xl")
  include templates/head.pug
  body(class="grid max-w-3xl mx-4 lg:mx-auto leading-8")
    include templates/page-heading.pug
    include contents/book.html